openapi: 3.0.0
servers:
  - description: Server which hosts the API
    url: https://congresotryit.es
info:
  description: Official API for the Try IT! congress' website
  version: "1.0.2"
  title: Try IT! API
  contact:
    email: tic.etsiinf@daupm.es
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
tags:
  - name: Home
    description: General Information required at any given page within the website.
  - name: Editions
    description: Information regarding specific editions.
  - name: Tickets
    description: Information regarding the generation and checking of tickets.
  - name: Volunteers
    description: Information regarding the volunteering staff for the congress.
  - name: ECTS
    description: Information regarding the calculation of ECTS for any given attendee.
  - name: Attendance
    description: Information regarding attendance.

paths:
  /streaming:
    get:
      tags:
        - Home
      summary: Returns a JSON object with streaming information.
      operationId: getStreaming
      description: |
        Returns information regarding current streaming status. If the congress is currently streaming, retrieves the url of the livestream.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamingResource"
        "204":
          description: Livestream not currently available.

  /editions:
    get:
      tags:
        - Editions
      summary: Returns a JSON object with all editions
      operationId: getEditions
      description: |
        Returns a JSON object with all editions.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EditionsResource"

  /editions/{year}/sponsors:
    get:
      tags:
        - Editions
      summary: Returns a JSON object with all sponsors (companies/organizations) for the specified edition
      operationId: getSponsors
      description: |
        Returns the information of all sponsors for the specified edition. Sponsors will be classified by the type of sponsorship.
      parameters:
        - in: path
          name: year
          description: Year of the edition
          required: true
          schema:
            type: integer
            example: 2020
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SponsorsResource"
  
  /editions/{year}/speakers/:
    get:
      tags:
        - Editions
      summary: Returns a JSON object with all speakers for the specified edition
      operationId: getSpeakers
      description: |
        Returns the information of all speakers (people) of a specific edition. 
      parameters:
        - in: path
          name: year
          description: Year of the edition
          required: true
          schema:
            type: integer
            example: 2020
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SponsorsResource"
  
  /editions/{year}/talks:
    get:
      tags:
        - Editions
      summary: Returns a JSON object with all the talks
      operationId: getTalks
      description: |
        Returns the information of the talks
      parameters:
        - in: path
          name: year
          description: Year of the edition
          required: true
          schema:
            type: integer
            example: 2020
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TalkResource"

  /editions/{year}/workshops:
    get:
      tags:
        - Editions
      summary: Returns a JSON object with all the workshops
      operationId: getWorkshops
      description: |
        Returns the information of the workshops
      parameters:
        - in: path
          name: year
          description: Year of the edition
          required: true
          schema:
            type: integer
            example: 2020
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkshopResource"

  /editions/{year}/breaks:
    get:
      tags:
        - Editions
      summary: Returns a JSON object with all the scheduled breaks
      operationId: getBreaks
      description: |
        Returns a JSON object with all the breaks scheduled
      parameters:
        - in: path
          name: year
          description: Year of the edition
          required: true
          schema:
            type: integer
            example: 2020
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BreakResource"

  /editions/{year}/events:
    get:
      tags:
        - Editions
      summary: Returns the list of all the events in the specified edition
      operationId: getEvents
      description: |
        Returns the list of all the events in the given edition.
      parameters:
        - in: path
          name: year
          description: Year of the edition
          required: true
          schema:
            type: integer
            example: 2020
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsResource"
                
  /editions/{year}/organizers:
    get:
      tags:
        - Editions
      summary: Returns the list of all the organizers
      operationId: getOrganizers
      description: |
        Returns the list of all the organizers
      parameters:
        - in: path
          name: year
          description: Year of the edition
          required: true
          schema:
            type: integer
            example: 2020
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrganizerResource"

  /tickets:
    post:
      tags:
        - Tickets
      summary: Creates a new ticket
      operationId: postTicket
      description: |
        Sends the information of the form filled by the user to the server in order to create a new ticket and send him the email with the ticket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TicketResource"
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostSuccessResource"

/ects:
    post:
      tags:
        - ECTS
      summary: Check the number of ECTS earned.
      operationId: getECTS
      description: |
        The student can check the number of ECTS earned in any edition of the congress to a maximum 2 ECTS per edition).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ECTSResource"
      parameters:
        - in: query
          name: edition
          description: Edition for which a user wants to calculate ECTS earnings
          required: true
          schema:
            type: string
        - in: query
          name: identity
          description: Personal ID used by the user when the ticket was created
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostSuccessResource"

/attendance:
    post:
      tags:
        - Attendance
      summary: Sends necessary information to register a user's attendance
      operationId: postValidation
      description: |
        Sends the information in order to check attendance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttendanceResource"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostSuccessResource"

components:
  schemas:
    EditionsResource:
      type: array
      items:
        type: object
        required:
          - id
          - year
          - title
          - slogan
          - description
          - start_date
          - end_date
          - google_calendar_url
        properties:
          id:
            $ref: "#/components/schemas/IdResource"
          year:
            type: integer
            example: 2020
          title:
            type: string
            example: Try IT! 2020
          slogan:
            type: string
          description:
            type: string
          start_date:
            $ref: "#/components/schemas/DateResource"
          end_date:
            $ref: "#/components/schemas/DateResource"
          google_calendar_url:
            type: string
            pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
            format: url

    # TICKET
    TicketResource:
      type: object
      required:
        - name
        - lastname
        - identity
        - email
        - is_student
        - phone
      properties:
        name:
          type: string
          example: Iron Man
        lastname:
          type: string
          example: The Best
        identity:
          type: string
          pattern: "[/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]{1}$/|/^[XYZ]{1}[0-9]{7}[TRWAGMYFPDXBNJZSQVHLCKET]{1}$/]"
          example: 00112233K (DNI) or X0011223T (NIE)
        email:
          type: string
          format: email
          example: contact@ironman.com
        is_student:
          type: boolean
          example: true
        is_upm_student:
          type: boolean
          example: true
        upm_school:
          type: string
          example: ETSIINF
        degree:
          type: string
          example: Grado en Ingeniería de Armas Nucleares
        year:
          type: integer
          minimum: 1
          maximum: 4
          example: 2
        phone:
          type: string
          example: "123456789"
    # END TICKET
    InvalidTicketResource:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: integer
          minimum: 400
          maximum: 400
          example: 400
        string:
          type: string
          example: The user must have a ticket for the current edition

    DateResource:
      type: integer
      example: 1581089789382

    IdResource:
      type: integer
      example: 812

    # Event
    EventsResource:
      type: array
      items:
        type: object
        required:
          - id
          - name
          - description
          - image
          - poster
          - registration
        properties:
          id:
            $ref: "#/components/schemas/IdResource"
          name:
            type: string
            example: Awesome name
          description:
            type: string
            example: Awesome description
          image:
            type: string
            pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
            format: url
            example: "https://www.image.com/"
          poster:
            type: string
            pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
            format: url
            example: "https://www.image.com/"
          registration:
            type: boolean
            example: True

    EventGetResource:
      type: object
      required:
        - name
        - description
        - time_slots
        - registration
        - capacity
      properties:
        id:
          $ref: "#/components/schemas/IdResource"
        name:
          type: string
          example: Awesome name
        description:
          type: string
          example: Awesome description
        registration:
          type: boolean
          example: True
        form:
          type: object
          required:
            - registration_type
            - maximum_choices
          properties:
            registration_type:
              type: string
              example: "time_period | groups"
            maximum_choices:
              type: integer
              example: "1 | 0"
        time_slots:
          type: array
          items:
            required:
              - date
              - this_is_just_a_normal_var_that_represent_the_number_of_people_already_registered_made_with_love_by_dani_and_max
            properties:
              date:
                $ref: "#/components/schemas/DateResource"
              capacity:
                type: integer
                example: 10
              ? this_is_just_a_normal_var_that_represent_the_number_of_people_already_registered_made_with_love_by_dani_and_max
              : type: integer
                example: 4

    EventPostResource:
      type: object
      required:
        - time_period
        - identity
      properties:
        time_period:
          $ref: "#/components/schemas/IdResource"
        identity:
          type: string
          pattern: "[/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]{1}$/|/^[XYZ]{1}[0-9]{7}[TRWAGMYFPDXBNJZSQVHLCKET]{1}$/|/^[A-Z0-9<]{9}[0-9]{1}[A-Z]{3}[0-9]{7}[A-Z]{1}[0-9]{7}[A-Z0-9<]{14}[0-9]{2}$/]"
          example: 11223344K
    # END ESCAPE ROOM

    StreamingResource:
      type: object
      required:
        - title
        - url
        - streaming
      properties:
        talk:
          $ref: "#/components/schemas/TalkResource"
        url:
          type: string
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          format: url
          example: "https://www.twitch.tv/tryit_upm"

    # SPEAKER
    SpeakerResource:
      type: object
      required:
        - name
        - image
        - bio
        - organization
      properties:
        name:
          type: string
          example: Victor Nieves
        bio:
          type: string
          example: No one knows where he was born
        image:
          type: string
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          format: url
          example: "https://www.images.com/victor"
        web:
          type: string
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          format: url
          example: "https://www.personalweb.com/"
        organization:
          $ref: "#/components/schemas/organizationResource"
        social_media:
          type: object
          properties:
            twitter:
              type: string
              pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
              format: url
              example: "https://twitter.com/IronMan"
            facebook:
              type: string
              pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
              format: url
              example: "https://facebook.com/IronMan"
            linkedin:
              type: string
              pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
              format: url
              example: "https://linkedin.com/IronMan"
            github:
              type: string
              pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
              format: url
              example: "https://github.com/IronMan"
            gitlab:
              type: string
              pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
              format: url
              example: "https://gitlab.com/IronMan"
    # END SPEAKER

    # TALKS
    TalkResource:
      type: object
      required:
        - title
        - description
        - url
        - video
        - start_date
        - end_date
        - slide
        - room
        - prize
        - speaker
      properties:
        title:
          type: string
          example: How to do IT stuff
        description:
          type: string
          example: Yes another talk about IT, amazing
        url:
          type: string
          format: url
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          example: "https://www.ted.com/talks/captain_america_TED_talk"
        video:
          type: string
          format: url
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          example: "https://www.youtube.com/watch?v=ANOTHERONE"
        start_date:
          $ref: "#/components/schemas/DateResource"
        end_date:
          $ref: "#/components/schemas/DateResource"
        slide:
          type: string # VERIFY
          format: url
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          example: "https://slide_url.com"
        room:
          type: string
          example: dark room
        prize:
          $ref: "#/components/schemas/PrizeResource"
        speakers:
          type: array
          items:
            $ref: "#/components/schemas/SpeakerResource"
    # END TALKS

    # WORKSHOPS
    WorkshopResource:
      type: object
      required:
        - name
        - description
        - speakers
        - room
        - date
      properties:
        name:
          type: string
          example: How to program in 68k assembler
        description:
          type: string
          example: You will never approve computer architecture
        speakers:
          type: array
          items:
            $ref: "#/components/schemas/SpeakerResource"
        room:
          type: string
          example: Wellington or Peralta
        date:
          $ref: "#/components/schemas/DateResource"
    # END WORKSHOPS

    BreakResource:
      type: object
      required:
        - title
        - start_date
        - end_date
      properties:
        title:
          type: string
          example: How to do IT stuff
        start_date:
          $ref: "#/components/schemas/DateResource"
        end_date:
          $ref: "#/components/schemas/DateResource"

    organizationResource:
      type: object
      required:
        - name
        - sponsor_type
        - logo
        - url
      properties:
        name:
          type: string
          example: Any organization (ie. UPM, Ubisoft, Microsoft, ...)
        sponsor_type:
          type: string
          example: gold
        logo:
          type: string
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          format: url
          example: "https://www.images.com/mintu"
        url:
          type: string
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          format: url
          example: "https://www.organization.com/mintu"
    #  END Sessions

    # PRIZE
    PrizeResource:
      type: object
      required:
        - name
        - description
        - image
      properties:
        name:
          type: string
          example: Minttu
        description:
          type: string
          example: One full bottle of Minttu
        image:
          type: string
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          format: url
          example: "https://www.images.com/iron_man"
    # END PRIZE

    # SPONSORS
    SponsorsResource:
      type: array
      items:
        type: object
        required:
          - category
          - sponsors
        properties:
          category:
            type: string
            pattern: "stand | stand-vip | oro | diamante"
            example: diamante
          sponsors:
            type: array
            items:
              $ref: "#/components/schemas/SponsorResource"

    SponsorResource:
      type: object
      required:
        - name
        - logo
        - url
      properties:
        name:
          type: string
          example: Avengers Endgame
        logo:
          type: object
          required:
            - image
            - url
          properties:
            source:
              type: string
              pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
              format: url
              example: "https://www.images.com/iron_man"
        url:
          type: string
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          format: url
          example: "https://www.organization.com/"
    # END SPONSORS

    ECTSResource:
      type: object
      required:
        - edition
        - n_talks
        - attended_to
      properties:
        edition:
          type: integer
          minimum: 1
          example: 2019
        n_talks:
          type: integer
          minimum: 1
          example: 27
        attended_to:
          type: object
          required:
            - talks
            - workshops
            - events
          properties:
            talks:
              type: array
              items:
                $ref: "#/components/schemas/TalkResource"
            workshops:
              type: array
              items:
                $ref: "#/components/schemas/WorkshopResource"
            events:
              $ref: "#/components/schemas/EventsResource"

    AttendanceResource:
      type: object
      required:
        - session_id
        - ticket_id
        - ticket_signature
        - signature
        - time_stamp
      properties:
        session_id:
          type: integer
          example: 42
        ticket_id:
          type: integer
          example: 75
        ticket_signature:
          type: string
          example: KFSDHJF8232L
        signature:
          type: string
          example: RE34TGFDS
        time_stamp:
          type: integer
          example: 234213414123

    OrganizerResource:
      required:
        - name
        - description
        - email
        - role
        - image
      properties:
        name:
          type: string
          example: Iron man
        description:
          type: string
          example: Best superhero ever
        email:
          type: string
          format: email
          example: contact@ironman.com
        role:
          type: string
          example: It is the boss
        image:
          type: string
          pattern: http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[\/.?&+!*=\-])+(?![^,!;:\s)])
          format: url
          example: "https://www.image.com/"
    PostSuccessResource:
      type: object
      required:
        - code
        - message
        - message_abbr
      properties:
        code:
          type: integer
          example: 12
        message:
          type: string
          example: "Ticket creado correctamente"
        message_abbr:
          type: string
          example: "ticket_post_success // See messages abbreviations"
